In [ ]:
CREATE TABLE Institutions (
    UNITID INT PRIMARY KEY,
    INSTNM VARCHAR(255) NOT NULL,
    ADDR VARCHAR(255),
    CITY VARCHAR(100),
    STABBR CHAR(2),
    ZIP VARCHAR(10),
    LATITUDE DECIMAL(8, 6),
    LONGITUDE DECIMAL(9, 6),
    CONTROL VARCHAR(20),
    OBEREG VARCHAR(50),
    CCBASIC VARCHAR(50),
    CBSA INT,
    CSA INT,
    COUNTYCD VARCHAR(5)
);

In [ ]:
CREATE TABLE College_Scorecard_Annual (
    UNITID INT,
    YEAR INT NOT NULL,
    ACCREDAGENCY VARCHAR(255),
    PREDDEG VARCHAR(100),
    HIGHDEG VARCHAR(100),
    ADM_RATE DECIMAL(6, 4),
    C150_4 DECIMAL(6, 4),
    C200_4 DECIMAL(6, 4),
    AVGFACSAL DECIMAL(12, 2) CHECK (AVGFACSAL IS NULL OR AVGFACSAL > 0),
    PRIMARY KEY (UNITID, YEAR)
);

In [ ]:
CREATE TABLE Financial_Data (
    OPEID INT,
    YEAR INT,
    TUITIONFEE_IN DECIMAL(12, 2) CHECK (TUITIONFEE_IN IS NULL OR TUITIONFEE_IN > 0),
    TUITIONFEE_OUT DECIMAL(12, 2) CHECK (TUITIONFEE_OUT IS NULL OR TUITIONFEE_OUT > 0),
    TUITIONFEE_PROG DECIMAL(12, 2) CHECK (TUITIONFEE_PROG IS NULL OR TUITIONFEE_PROG > 0),
    PCTPELL DECIMAL(6, 4),
    DEBT_MDN DECIMAL(12, 2) CHECK (DEBT_MDN IS NULL OR DEBT_MDN >= 0),
    RPY_3YR_RT DECIMAL,
    CDR2 DECIMAL,
    CDR3 DECIMAL,
    MD_EARN_WNE_P8 DECIMAL(12, 2) CHECK (MD_EARN_WNE_P8 IS NULL OR MD_EARN_WNE_P8 >= 0),
    PRIMARY KEY (OPEID, YEAR)  -- Changed from (UNITID, YEAR)
);

In [ ]:
CREATE TABLE Crosswalks (
    UNITID INT,
    OPEID INT,
    PRIMARY KEY (UNITID, OPEID)
);